<%= form_with url: games_path do |form| %>

  <div class="field">
    <%= get_hidden_tag_w_user_id %>
  </div>

  <div class="game-caption">
    <%= label_tag "caption", "Play as #{get_user_name(current_user)}" %>
  <div>

  <div class="game-caption">
    <%=  get_word_source_selector %>
  </div>

  <div class="actions game-caption">
    <input type="submit" value="Start">
  </div>
<% end %>